<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/albumiLayout.css" %}">
        
        <script type="text/javascript" src="{% static "jquery/jquery-1.10.2.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    
        {% block includes %}{% endblock %}
        
        <title>{% block title %}Template{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
	                <a class="navbar-brand" href="/albumi">Albumi.fi</a>
	            </div>
				<ul class="nav navbar-nav">
	            {% if user.is_authenticated %}
	                 <li><a href="/albumi/albumit">Omat albumit</a></li>
	            {% else %}
	                <li><a href="/albumi/albumit/julkiset">Julkiset albumit</a></li>
	            {% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
                    <li><a href="/albumi/tilaukset">Omat tilaukset</a></li>
			        <li><a href="/albumi/tili">Käyttäjätili</a></li>
				    <li><a href="/albumi/logout">Kirjaudu ulos</a></li>
				{% else %}
	                <li><a href="/albumi/login">Kirjadu</a></li>
	                <li><a href="/albumi/rekisterointi">Rekisteröidy</a></li>
				{% endif %}
		        </ul>
	        </div>
        </nav>
        
        {% block content %}
        
        {% endblock %}

    </body>
</html>