[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

canvas {
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
canvas.over {
    border-style: dashed;
}

.muokattavaTeksti {
	border:0;
	width: 100%;
}

