{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<!-- Omat js-koodit -->
<script type="text/javascript" src="{% static 'albumi.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <!--div class="row">
	    
	    <div>
	        <form role="form">
	           <input type="text" class="form-control" placeholder="Etsi...">
	        </form>
	    </div>
	</div-->
    <div class="row" id="albumilista">
        <h2>Albumit</h2>
        {% for albumi in albumit %}
        <div class="col-md-2">
           <div class="thumbnail">
                {% if user.is_authenticated and albumi.kayttaja == user %}
                <div class="pull-right">
                    <a href="{% url 'albumi.views.albumiMuokkaus' albumi.julkinenUrlID %}" type="button" class="btn btn-primary btn-xs" title="Muokkaa"><span class="glyphicon glyphicon-pencil"></span></a><br>
                    <a href="{% url 'albumi.views.poista' albumi.id %}" type="button" class="btn btn-danger btn-xs" title="Poista"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                {% endif %}
                <!-- img src="" class="img-responsive" id="albumiKansi{{ albumi.id }}" width="150px" height="100px" -->
                <h5><a href="{% url 'albumi.views.albumi' albumi.julkinenUrlID %}">{{ albumi.nimi }}</a></h5>
                {% if albumi.kayttaja != user %}
                <p class="small">Luonut: {{ albumi.kayttaja.username }}</p>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p>Ei näytettäviä albumeita</p>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'albumi.views.albumiMuokkaus' 'uusi' %}" class="btn btn-success" role="button">Lisää <span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
</div>
{% endblock %}