{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" href="{% static 'css/albumiCarousel.css' %}">

<script type="text/javascript" src="{% static 'jquery/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'jcarousel/jquery.jcarousel.js' %}"></script>

<script type="text/javascript" src="{% static 'jcarousel.connected-carousels.js' %}"></script>
<script type="text/javascript" src="{% static 'albumi.js' %}"></script>
<script type="text/javascript" src="{% static 'muokattavaAlbumi.js' %}"></script>
<script type="text/javascript" src="{% static 'albumiMuokkaus.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
	    <div class="col-lg-3 sidebar">
	        <h4>Omat kuvat</h4>
	        <p>Raahaa tästä kuvia albumiin</p>
	        <div id="albumilista">
	            {% for kuva in kuvat %}
		        <div class="col-lg-6 thumbnail">
					<img class="raahattavaKuva img-responsive" src="{{ kuva.url }}" draggable="true">
					<input class="muokattavaTeksti kuvanNimi" type="text" value="{{ kuva.nimi }}">
					<input class="kuvanId" type="hidden" value="{{ kuva.id }}" readonly>
	            </div>
				{% endfor %}
	        </div>
		    {% if user.is_authenticated %}
				<input id="kuvaUrlInput" class="form-control" placeholder="Kuvan url">
				<button id="lisaaKuvaButton" type="button" class="btn btn-success">Lisää <span class="glyphicon glyphicon-plus"></span></button>
		    {% endif %}
	    </div>
	    <div class="col-lg-9 main">
			<h1><input id="albumiNimi" class="muokattavaTeksti" type="text" placeholder="Anna albumille nimi" value="{{ albumi.nimi }}"></h1>
	        <div class="connected-carousels">
	            <div class="stage">
	                <div class="carousel carousel-stage">
	                    <ul>
	                    </ul>
	                </div>
	                <p class="sivunumero"><span id="sivunumeroTama">1</span>/<span id="sivunumeroYht">3</span></p>
	            </div>
	            <div class="navigation">
	                <a href="#" class="prev prev-navigation">&lsaquo;</a>
	                <a href="#" class="next next-navigation">&rsaquo;</a>
	                <div class="carousel carousel-navigation">
						<ul>
						</ul>
	                </div>
	            </div>
	            <div>
	               <button id="lisaaSivuButton" type="button" class="btn btn-success">Lisää sivu<span class="glyphicon glyphicon-plus"></span></button>
	               <button id="tallennaButton" type="button" class="btn btn-primary pull-right">Tallenna</button>
	            </div>
	        </div>
		</div>
	</div>
</div>

<script>
{% if albumi %}
    $.getJSON("{% url 'albumi.views.albumJson' albumi.id %}", luoAlbumi);
{% else %}
luoAlbumi({
	koko_x: 600,
	koko_y: 424,
	julkinen: false,
	sivut:[{sivunumero:0, elementit:[]}]
	}
);
{% endif %}
</script>

{% endblock %}