{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" href="{% static 'css/albumiCarousel.css' %}">
<script type="text/javascript" src="{% static 'jcarousel/jquery.jcarousel.js' %}"></script>

<script type="text/javascript" src="{% static 'jcarousel.connected-carousels.js' %}"></script>
<script type="text/javascript" src="{% static 'albumi.js' %}"></script>
<script type="text/javascript" src="{% static 'muokattavaAlbumi.js' %}"></script>
<script type="text/javascript" src="{% static 'albumiMuokkaus.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row" id="container">
    <div class="col-lg-3 sidebar">
        <h4>Kuvat</h4>
        <div class="row" id="albumilista">
            {% for kuva in kuvat %}
	        <div class="col-lg-6">
	           <div class="thumbnail">
					<img class="raahattavaKuva" src="{{ kuva.url }}" width="150px" height="100px" draggable="true">
					{{ kuva.nimi }}
                </div>
            </div>
			{% endfor %}
        </div>
    </div>
    <div class="col-lg-9 main">
		<h1>{{ albumi.nimi }}</h1>
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage">
                    <ul>
                    </ul>
                </div>
                <p class="sivunumero"><span id="sivunumeroTama">1</span>/<span id="sivunumeroYht">3</span></p>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>
                <div class="carousel carousel-navigation">
					<ul>
					</ul>
                </div>
            </div>
        </div>
	</div>
</div>

{% endblock %}