{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
	Albumi.fi
{% endblock %}

{% block content %}

<div class="jumbotron">
	<div class="container">
		<h1>Albumi.fi</h1>
		<p>Tervetuloa luomaan mullistavia kuva-albumeita sinun elämäsi tärkeimmistä hetkistä!</p>
		<p>Albumeita voit ihastella kuvaruudulta, jakaa ystävien kanssa tai tilata ne albumikirjana.</p>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><a href="#">Tutustu</a></h2>
            <p>Albumi.fi tarjoaa monia mielenkiintoisia ominaisuuksia. Lyhyellä esittelykierroksella 
            näet niistä mielenkiintoisimmat.</p>
        </div>
        <div class="col-md-4">
            <h2><a href="#">Ohjeet</a></h2>
            <p>Palvelun käyttäminen on erittäin helppoa.</p>
            <p>Täältä löydät yksinkertaiset ohjeet albumien luomista varten.</p>
        </div>
        <div class="col-md-4">
            <h2><a href="#">Etsi</a></h2>
            <p>Etsi ystäväsi luomaa albumia tai löydä hienoja albumeita mielenkiintoisista paikoista.</p>
        </div>
    </div>
</div>

{% endblock %}